@keyframes writing {
  0% {
    width: 100%; }
  100% {
    width: 0; } }
@keyframes coursor {
  0% {
    border-left-color: transparent; }
  50% {
    border-left-color: black; }
  100% {
    border-left-color: transparent; } }
@keyframes loading-quote {
  0%, 40%, 100% {
    transform: translateY(-10px); }
  20% {
    transform: translateY(-20px); } }
@-moz-keyframes writing {
  0% {
    width: 100%; }
  100% {
    width: 0; } }
@-moz-keyframes coursor {
  0% {
    border-left-color: transparent; }
  50% {
    border-left-color: black; }
  100% {
    border-left-color: transparent; } }
@-moz-keyframes loading-quote {
  0%, 40%, 100% {
    -moz-transform: translateY(-10px); }
  20% {
    -moz-transform: translateY(-20px); } }
@-o-keyframes writing {
  0% {
    width: 100%; }
  100% {
    width: 0; } }
@-o-keyframes coursor {
  0% {
    border-left-color: transparent; }
  50% {
    border-left-color: black; }
  100% {
    border-left-color: transparent; } }
@-o-keyframes loading-quote {
  0%, 40%, 100% {
    -o-transform: translateY(-10px); }
  20% {
    -o-transform: translateY(-20px); } }
@-webkit-keyframes writing {
  0% {
    width: 100%; }
  100% {
    width: 0; } }
@-webkit-keyframes coursor {
  0% {
    border-left-color: transparent; }
  50% {
    border-left-color: black; }
  100% {
    border-left-color: transparent; } }
@-webkit-keyframes loading-quote {
  0%, 40%, 100% {
    -webkit-transform: translateY(-10px); }
  20% {
    -webkit-transform: translateY(-20px); } }
html, body {
  height: 100%; }

body {
  margin: 0;
  background-image: url("michal-grosicki-216658.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%; }

.clearfix {
  clear: both; }

#header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: #e68a00;
  border-bottom: 2px solid #d9d9d9;
  z-index: 99; }
  #header header {
    display: inline-block; }
    #header header #write {
      position: relative;
      text-align: center;
      font-size: 40px;
      font-family: 'Cutive Mono', monospace;
      font-weight: 700;
      color: #d9d9d9;
      margin: 0; }
      #header header #write span {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        background-color: #e68a00;
        border-left: 1px solid transparent;
        animation: writing 3.5s steps(20), coursor 0.7s step-end infinite; }

.quote-container {
  position: relative; }
  .quote-container #box {
    position: relative;
    top: 200px;
    left: 50%;
    padding: 20px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    width: 600px;
    height: 350px;
    background: rgba(200, 54, 54, 0.7);
    border-radius: 5%; }
    .quote-container #box #loader {
      position: absolute;
      display: none;
      top: 50%;
      left: 0;
      text-align: center;
      height: 100%;
      width: 100%; }
      .quote-container #box #loader div {
        background-color: #d9d9d9;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        display: inline-block;
        -webkit-animation: loading-quote 0.7s infinite ease-in-out;
        animation: loading-quote 0.7s infinite ease-in-out; }
      .quote-container #box #loader .circ2 {
        -webkit-animation-delay: -0.6s;
        animation-delay: -0.6s; }
      .quote-container #box #loader .circ3 {
        -webkit-animation-delay: -0.5s;
        animation-delay: -0.5s; }
    .quote-container #box #quote {
      text-align: center;
      vertical-align: center;
      font-size: 30px;
      font-family: "Indie Flower", cursive;
      font-weight: 700;
      color: #d9d9d9;
      margin: 0;
      margin-bottom: 10px; }
    .quote-container #box footer {
      text-align: right; }
      .quote-container #box footer a {
        display: none;
        text-decoration: none;
        margin: 0;
        padding: 0; }
        .quote-container #box footer a div {
          background-color: #00aced;
          padding: 5px;
          border-radius: 10%; }
          .quote-container #box footer a div i {
            font-size: 20px;
            color: white; }
      .quote-container #box footer #author {
        margin: 0 0 5px 0;
        font-size: 17px;
        color: #d9d9d9;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700; }
  .quote-container #quote-button {
    z-index: 10;
    position: relative;
    bottom: -175px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    width: 220px;
    height: 50px;
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid #996600;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    border-color: #996600;
    color: #fff;
    box-shadow: 0 0 40px 40px #996600 inset, 0 0 0 0 #993333;
    -moz-box-shadow: 0 0 40px 40px #996600 inset, 0 0 0 0 #993333;
    -webkit-box-shadow: 0 0 40px 40px #996600 inset, 0 0 0 0 #993333;
    transition: all 150ms ease-in-out;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out; }
    .quote-container #quote-button:focus {
      color: #fff;
      outline: 0; }
    .quote-container #quote-button:hover {
      box-shadow: 0 0 10px 0 #993333 inset, 0 0 10px 4px #993333;
      -moz-box-shadow: 0 0 10px 0 #993333 inset, 0 0 10px 4px #993333;
      -webkit-box-shadow: 0 0 10px 0 #993333 inset, 0 0 10px 4px #993333; }

@media screen and (max-width: 750px) and (min-width: 551px) {
  .quote-container #box {
    width: 400px;
    height: 310px; }
    .quote-container #box #quote {
      font-size: 25px; }
    .quote-container #box footer #author {
      font-size: 15px; }
  .quote-container #quote-button {
    width: 150px; } }
@media screen and (max-width: 550px) and (min-width: 451px) {
  #header header #write {
    font-size: 30px; }

  .quote-container #box {
    width: 300px;
    height: 250px; }
    .quote-container #box #quote {
      font-size: 22px; }
    .quote-container #box footer #author {
      font-size: 15px; }
  .quote-container #quote-button {
    width: 100px;
    font-size: 14px;
    letter-spacing: 0; } }
@media screen and (max-width: 450px) {
  #header header #write {
    font-size: 24px; }

  .quote-container #box {
    width: 250px;
    height: 200px; }
    .quote-container #box footer #author {
      font-size: 12px; }
    .quote-container #box #quote {
      font-size: 17px; }
  .quote-container #quote-button {
    width: 100px;
    font-size: 14px;
    letter-spacing: 0;
    height: 40px;
    bottom: -180px; } }

/*# sourceMappingURL=style.css.map */
